<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/style.css">
    <title>Document</title>
</head>
<body>
    <div class="clock">
        <div class="wrap">
          <span class="heure"></span>
          <span class="minute"></span>
          <span class="seconde"></span>
          <img class="aiguille hor" src="../public/aiguille_heure.png" alt="aiguille">
          <img class="aiguille min" src="../public/aiguille_minute.png" alt="aiguille">
          <span class="dot"></span>
        </div>
      </div>
    
      <img id="myImg" src="">

      <img class="clockroman" src="../public/clock-face-roman-numerals-numerical-digit-clock-974aea2a85269a5cd5dc27a1cdf811bf.png1655319549509.png" alt="">


      <script src="../views/myApp.js"></script>
</body>
</html>










