<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/style.css">
    <link rel="shortcut icon" href="../public/logo menouchat chalom coupe.png" type="image/png">
    <title>לוח זמנים - מנוחת שלום</title>
</head>
<body>
  <div class="zmanei_ayom">
    <article class="item">
        <p class="horaire" id="nets">horaire</p><p class="zman">שחרית</p>
    </article>
    <article class="item">
        <p class="horaire" id="hatzot">horaire</p><p class="zman">מנחה</p>
    </article>
    <article class="item">
        <p class="horaire" id="shkia">horaire</p><p class="zman">שקיעה</p>
    </article>
    <article class="item">
        <p class="horaire" id="tset">horaire</p><p class="zman">ערבית</p>
    </article>
  </div>
  <div class="zmanei_chabat">
    <article class="item">
        <p class="horaire" id="nets">horaire</p><p class="zman">שיר השירים</p>
    </article>
    <article class="item">
        <p class="horaire" id="nets">horaire</p><p class="zman">קבלת שבת</p>
    </article>
    <article class="item">
        <p class="horaire" id="nets">horaire</p><p class="zman">שיר השירים</p>
    </article>
    <article class="item">
        <p class="horaire" id="hatzot">horaire</p><p class="zman">ערבית של שבת</p>
    </article>
    <article class="item">
        <p class="horaire" id="shkia">horaire</p><p class="zman">שחרית של שבת</p>
    </article>
    <article class="item">
        <p class="horaire" id="tset">horaire</p><p class="zman">מנחה של שבת</p>
    </article>
    <article class="item">
      <p class="horaire" id="tset">horaire</p><p class="zman">ערבית מוצ"ש</p>
  </article>
  </div>
  <div class="panneau_gauche">
    <p class="date"></p><br>
    <p class="date"></p><br>
    <p class="date"></p><br>
    <p class="date"></p><br>
    <p class="date"></p><br>
  </div>
  <div class="panneau_droit"></div>
  
  <div class="montre">
    <img class="aiguille hor" src="../public/aiguille heure finale.png" alt="aiguille">
    <img class="aiguille min" src="../public/aiguille montre finale.png" alt="aiguille">
    <img class="aiguille boutton" src="../public/boutton_metal.png" alt="boutton">
  </div>
</body>
  <script src="../views/myApp.js"></script>
</html>










