body
{
	background-image: url('ebauche\ bet\ hamidrash9.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	margin: 0;
	padding: 0;
}

/* CHEARIM */

div.zmanei_chabat{
	position: absolute;
	border: 3px solid red;
	width: 215px;
	height: 260px;
	top: 260px;
	left: 60px;

}

div.zmanei_ayom{
	position: absolute;
	border: 3px solid red;
	width: 215px;
	height: 260px;
	top: 260px;
	right: 60px;
}

article.item
{
	position: relative;
	font-size:large;
	margin-top: -25px;
	margin-bottom: -25px;
	top: 10px
}


article.item p 
{
    display: inline-block;
}

p.zman {
	font-weight: bold;
	margin: auto;
	text-align: right;
    border: 1px solid red;
	width: 50%;
}

p.horaire 
{
    text-align: left;
    border: 1px solid green;
	width: 46.55%;
}

/* PANNEAUX A COTE DE LA MONTRE */

div.panneau_gauche
{
	position: absolute;
	border: 3px solid yellow;
	width: 230px;
	height: 260px;
	top: 600px;
	left: 20px;
}

div.panneau_gauche p
{
	font-size: large;
	color: white;
}

p.date
{
	color: red;
}

div.panneau_droit
{
	position: absolute;
	border: 3px solid yellow;
	width: 230px;
	height: 260px;
	top: 600px;
	right: 20px;
}

/* MONTRE */


.min {
	position: absolute;
	height:140px;
	max-width: 100%;
	top: 655px;
	left: 285px;
	transform: rotate(135deg);
}

.hor
{
	position: absolute;
	height:105px;
	max-width: 100%;
	top: 673px;
	left: 305px;
	transform: rotate(45deg);
}

.boutton
{
	position: absolute;
	height:15px;
	max-width: 100%;
	top: 718px;
	left: 350px;	
}

/* top 870
left 420 */

/* top -210
left -107 */

/* top -152
left -70 */